extends layout

block content
  h1= title
  p Welcome to #[em Local Inventory], a very basic Express website developed by Gabe for the Odin Project.

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Items:] !{item_count}
    li #[strong Categories:] !{category_count}
    li #[strong Suppliers:] !{supplier_count}

