extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='name') Supplier:
      input#name.form-control(type='text', placeholder='Supplier name' name='name' value=(undefined===supplier ? '' : supplier.name) required)
      label(for='Address') Address:
      input#address.form-control(type='text', placeholder='Supplier address' name='address' value=(undefined===supplier ? '' : supplier.address) required)
      label(for='name') Supplier:
      input#name.form-control(type='text', placeholder='Supplier phone number' name='phone' value=(undefined===supplier ? '' : supplier.phone) pattern="[0-9]{10}" title="Enter a 10-digit phone number (numbers only)" required)
    button.btn.btn-primary(type='submit') Submit

  if errors
   ul
    for error in errors
     li!= error.msg
