extends layout

block content
  h1 #{title}: #{supplier.name}
  
    p Do you really want to delete this supplier?

    form(method='POST' action='')
      div.form-group
        input#supplierid.form-control(type='hidden',name='supplierid', required='true', value=supplier._id )

      button.btn.btn-primary(type='submit') Delete
